.background {
  background: url(/img/pearl_background.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

h1 {
  color: #00033a;
  font-weight: 900;
  font-size: 38px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

.intro h1 {
  font-size: 2em;
}

.background h1 {
  height: 100%;
  margin: -5vh 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein5 1.5s;
  letter-spacing: 15px;
  line-height: 0.85;
  width: 100%;
  font-family: "Muli", sans-serif;
  position: absolute;
  line-height: 1;
  text-align: center;
  font-weight: 900;
  color: #fcf283;
  font-size: 14vw;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.158);
}

.scroll {
  letter-spacing: 2px;
  font-family: "Muli", sans-serif;
  position: absolute;
  color: #00033a;
  font-weight: 900;
  bottom: 7%;
  width: 100%;
  z-index: 12;
  text-align: center;
  transition: 0.2s;
}

.scroll-line {
  position: absolute;
  height: 50px;
  border-right: 2px solid #00033a;
  z-index: 3;
  left: 50%;
  bottom: 0;
  transition: 0.2s;
}

.presentation {
  font-family: "Muli", sans-serif;
  padding: 9vw 20vw 10vw 20vw;
  text-align: center;
  display: flex;
}

.presentation h1 {
  font-size: 38px;
  color: #00033a;
  font-weight: 900;
  letter-spacing: 2px;
}

.presentation p {
  width: 75%;
  padding-left: 4vw;
  line-height: 1.6;
  font-size: 23px;
  text-align: left;
  letter-spacing: 1px;
  padding-top: 10px;
}

.pearlgif {
  text-align: center;
  background-color: #fbffbc;
  padding: 5vw 0;
}

.pearlgif img {
  width: 55vw;
}

.phonewrap {
  margin-top: 10vw;
  height: 50vw;
}

.pearlsquare {
  position: relative;
  margin-left: 21vw;
  margin-top: 976px;
  height: 35vw;
  width: 35vw;
  background-color: #fbffbc;
  display: inline-block;
}

.pearl_mobile {
  width: 50%;
  position: absolute;
  left: 14vw;
}

.pearltext {
  position: absolute;
  display: inline-block;
  width: 15%;
  margin-left: 8vw;
}

.pearltext h1 {
  font-size: 2vw;
}

.pearltext p {
  margin-top: -1vh;
  width: 95%;
  font-size: 1.05vw;
}

h2 a {
  text-decoration: none;
  font-size: 20px;
  color: #00033a;
  letter-spacing: 1.5px;
}

.pearlbreak {
  background: url(/img/pearl_interior_pic.png) no-repeat;
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
}

.pearlbranding {
  margin: 10vw 0;
}

.pearlbranding .card {
  width: 55%;
  margin-left: 10vw;
}

.pearlbranding .text {
  margin-top: 1vw;
  position: absolute;
  display: inline-block;
  width: 12%;
  right: 14vw;
}

.pearlbranding .text p {
  margin-top: -1vh;
  font-size: 1.05vw;
}

.pearlbranding .text h1 {
  font-size: 2vw;
}

.pcshirt {
  margin-top: -1vh;
  margin-left: 19vw;
}

.pcshirt img {
  width: 80%;
}

.brandingsquare {
  margin-top: 2190px;
  margin-left: 22vw;
  z-index: -1;
  width: 35vw;
  height: 35vw;
  background-color: #fbffbc;
  position: absolute;
}

.footerimage:hover {
  background: url(/img/pearl_footer.jpg) 50%;
  cursor: pointer;
}

.footerimage h1 {
  color: #fcf283;
  font-size: 6vw;
}

@media only screen and (max-width: 1024px) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  .background {
    margin: 0;
    background-position: 55%;
    background-size: cover;
    height: 100vh;
  }

  .background h1 {
    font-size: 16vw;
  }

  .scroll {
    margin-bottom: 55px;
    bottom: 0;
  }

  .pearlgif img {
    width: 80vw;
    padding-top: 2vw;
  }

  .pearlsquare {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    height: 65vw;
    width: 50%;
    padding: 0;
    margin: 180vw auto 0;
    display: block;
  }

  .pearl_mobile {
    width: 90%;
    position: relative;
    padding: 0;
    left: unset;
    margin: 0 auto;
    display: block;
  }

  .pearltext {
    margin: -9vmax auto 0;
    width: 80%;
    position: relative;
    display: block;
  }

  .phonewrap {
    height: unset;
    margin: 15vw 0;
  }

  .brandingsquare {
    position: absolute;
    width: 60%;
    height: 60vw;
    margin: 2000px auto 0;
    left: 0;
    right: 0;
  }

  .pearlbreak {
    height: 50vh;
    background-position: 64%;
    background-attachment: unset;
  }

  .pearlbranding .card {
    width: 80%;
    margin-left: 6vw;
  }

  .pcshirt {
    margin: 0 auto;
  }

  .pcshirt img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .footerimage {
    background: url(/img/pearl_footer.jpg) !important;
    background-position: 50% !important;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1028px) {
  .background h1 {
    font-size: 13vw;
    margin-top: -10vh;
  }

  .pearlbreak {
    height: 100vh;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .brandingsquare {
    display: none;
  }
}
